<div class="container">
    <div class="pre-header row">
    </div>
   
    <nav class="navbar row">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menü</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link" routerLink="datastorycreator" href="#" data-bs-dismiss="offcanvas">Neue Data-Story erstellen</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="dataexplorer" href="#" data-bs-dismiss="offcanvas">Daten Explorieren</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Abgeschlossene Data-Stories
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown1">
                    <!--<li><a class="dropdown-item" routerLink="abgeschlossen/kaffee" >Kaffee Datensatz</a></li>
                    <li><a class="dropdown-item" routerLink="abgeschlossen/dichte" >Dichte Datensatz</a></li>-->
                    <li id="liste"><a class="dropdown-item" *ngFor="let done_datastory of done_datastories; let index=index" data-bs-dismiss="offcanvas" (click)='navigateToDoneDatastory(done_datastory)'>
                      {{done_datastory}}
                      </a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Unbeantwortete Data-Stories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                      <!--<li><a class="dropdown-item" routerLink="kaffee/2/0" >Kaffee Datensatz</a></li>
                      <li><a class="dropdown-item" routerLink="dichte/2/0" >Dichte Datensatz</a></li>-->
                      <li id="liste2"><a class="dropdown-item" *ngFor="let datastoryname of datastorynames; let index=index" data-bs-dismiss="offcanvas" (click)='navigateToDatastory(datastoryname)'>
                        {{datastoryname}}</a></li>
                    </ul>
                  </li>
              </ul>
            </div>
          </div>
          <a class="navbar-brand" href="#">
            <img src="../assets/ByteFabrikLogo.svg" alt="Bootstrap" width="300">
          </a>
        </div>
      </nav>
    
</div>


  
  