<mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
    <mat-tab *ngFor="let c of content; let index = index" [label]="(index+1).toString()">

        <ng-container *ngIf="content[index].component === 'template1'">
            <div>
                <app-template1 [phase]=1 [datastory]="name" [foilnumber]="index"></app-template1>
            </div>
        </ng-container>
        <ng-container *ngIf="content[index].component === 'template2'">
            <div>
                <app-template2 [phase]=1 [datastory]="name" [foilnumber]="index"></app-template2>
            </div>
        </ng-container>
        <ng-container *ngIf="content[index].component === 'template4'">
            <div>
                <app-template4 [phase]=1 [datastory]="name" [foilnumber]="index"></app-template4>
            </div>
        </ng-container>
        <ng-container *ngIf="index+1 !== content.length && content[index].component !== 'template4'">
            <button type="submit" (click)="onSubmit(index)" class="btn btn-success">Speichern und Weiter</button>
        </ng-container>
        <ng-container *ngIf=" index+1 === content.length">
            <button type="submit" (click)="onFinalSubmit()" class="btn btn-success">Data Story beenden und Abschicken</button>
        </ng-container>

    </mat-tab>
    <!--  -->