<div class="inhalt">
    <div class="box">
    <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
        <mat-tab *ngFor="let c of content; let index = index" [label]="(index+1).toString()">
            
            <ng-container *ngIf="content[index].component === 'template1'">
                
                    <app-template1 [phase]=1 [datastory]="name" [foilnumber]="index" [last]="last" (newItemEvent)="nextT($event)"></app-template1>
                
            </ng-container>
            <ng-container *ngIf="content[index].component === 'template2'">
               
                    <app-template2 [phase]=1 [datastory]="name" [foilnumber]="index" [last]="last" (newItemEvent)="nextT($event)"></app-template2>
                
            </ng-container>
            <ng-container *ngIf="content[index].component === 'template3'">
               
                <app-template3 [phase]=1 [datastory]="name" [foilnumber]="index" [last]="last" (newItemEvent)="nextT($event)"></app-template3>
            
        </ng-container>
            <ng-container *ngIf="content[index].component === 'template4'">
                
                    <app-template4 [phase]=1 [datastory]="name" [foilnumber]="index"></app-template4>
                    <ng-container *ngIf=" index+1 === content.length">
                        <button type="submit" (click)="onFinalSubmit()" class="btn btn-success">Data Story Abschicken</button>
                    </ng-container>
            </ng-container>
        </mat-tab>
    </mat-tab-group>
    </div>
</div>
