Archiv/220507_DataStories_Kaffee mit Checkbox.pptm
Archiv/220507_DataStories_Kaffee.pptx
Archiv/Bauteil_muss_weggeschmissen_werden.png
Archiv/Bauteile_die_nachbearbeitet_werden_müssen.png
Archiv/boxplot.png
Archiv/bytefabrik_logo.png
Archiv/configuration_label.png
Archiv/cor.png
Archiv/Data Stories zweite Fragerunde.zip
Archiv/DataStories_Dichte_2.0.pptm
Archiv/DataStories_Dichte_neu_pph.pptx
Archiv/DataStories_Dichte_neu.pptx
Archiv/DataStories_Kaffee_neu.pptx
Archiv/describe_tabelle.png
Archiv/Druck_steigt.png
Archiv/first_gui.py
Archiv/first_gui.ui
Archiv/kalibrierung.png
Archiv/lineare_steigung_leckwert.png
Archiv/messenaktiv.png
Archiv/Notes.txt
Archiv/output.png
Archiv/Phasen_kein_Bauteil_in_Maschine.png
Archiv/regression.png
Archiv/spaltenübersicht_kaffee.png
Archiv/spaltenübersicht.PNG
Archiv/starker_ausschlag.png
Archiv/starker_ausschlag1.png
Archiv/starker_ausschlag2.png
Archiv/status4.png
Archiv/tabelle_kaffee.png
Archiv/titelfolie_kaffee.png
Archiv/titelfolie.png
Archiv/untitled.ui
Archiv/x.py
Archiv/Zwischenbericht _v3.docx
Archiv/Zwischenbericht.pdf
Archiv/Data Stories zweite Fragerunde/DataStories_Dichte_2.0.pptx
Archiv/Data Stories zweite Fragerunde/DataStories_Kaffee_2.0.pptx
Archiv/Neuer Ordner/Dichte_First_try.ipynb
Archiv/Neuer Ordner/Downloads - Verknüpfung.lnk
Archiv/Neuer Ordner/MPS.py
Archiv/Neuer Ordner/p.py
Archiv/Neuer Ordner/__pycache__/MPS.cpython-310.pyc
Daten/Kaffeemaschine/preprocessed_coffee_scaled.pickle
data_stories_backend/__pycache__/app.cpython-310.pyc
data_stories_backend/__pycache__/app.cpython-310.pyc
data_stories_backend/__pycache__/app.cpython-310.pyc
data_stories_backend/__pycache__/dichte.cpython-310.pyc
data_stories_backend/__pycache__/functions.cpython-310.pyc
.vscode/settings.json
data_stories_backend/.deployment
.hintrc
data_stories_backend/__pycache__/app.cpython-310.pyc
data_stories_backend/__pycache__/dichte.cpython-310.pyc
data_stories_backend/__pycache__/functions.cpython-310.pyc
