<div class="content" role="main">
  
    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
        <span id="headline">Abgeschlossene Data Stories: Kaffee</span>
    </div>

<div class="container">
    <img src="../assets/titelfolie_kaffee.png" alt="titelfolie">
    <img src="../assets/spaltenübersicht_kaffee.png" alt="spaltenübersicht">
     <div *ngFor="let item of items" id="kaf">
    <img alt="alte ds" src="{{'data:image/png;base64,' + item}}">

</div>

</div>
 
    <footer>
    </footer>
</div>
