

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
body{
    background-color: #f4f4fb !important;
    overflow-x: hidden; /* Hide horizontal scrollbar. Wäre besser, wenn man Ursache für die Scrollbar findet, weil so nie scrollen möglich ist */
    
}

@import "~bootstrap/scss/bootstrap.scss";
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

