<div class="content1">
  <h1>Data-Story erstellen</h1>
  <p class="text">Stelle deine individuelle Data Story mithilfe unseres Editors zusammen.</p>
  <p class="text">Vergebe deiner Data-Story einen eindeutigen Namen:</p>
      <form> <input name="name" [(ngModel)]="name" required><button type="submit" class="btn btn-info auswahl">Name vergeben</button>
        </form>
      <div class="content-white ">
          <div role="main" [ngClass]="showTemplate != 4 ? 'content' : 'container1'" >


        <!-- Resources -->
        <div [ngClass]="{'container' : showTemplate != 4}">


          <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
            <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab.toString()">
              <ng-container *ngIf="showTemplate == 0"><span>
                  
                </span></ng-container>

              <div class="imgs" *ngIf="showTemplate == 0">

               
                <div class="i">
                  <h4>Basic Template</h4>
                  <button class="btn btn-primary auswahl" (click)="showTemplate = 1">Jetzt erstellen </button>
                </div>
                <div class="i">
                  <h4>Ja/Nein Auswahl</h4>
                  <button class="btn btn-primary auswahl" (click)="showTemplate = 2">Jetzt erstellen </button>
                </div>

              </div>
              <div class="imgs" *ngIf="showTemplate == 0">

                <div class="i">
                  <h4>Zwei Freitextfelder</h4>
                  <button class="btn btn-primary auswahl" (click)="showTemplate = 3">Jetzt erstellen </button>
                </div>
                <div class="i">
                  <h4>Editor</h4>
                  <button class="btn btn-primary auswahl" (click)="showTemplate = 4">Jetzt erstellen </button>
                </div>
              </div>

              <div id="1" *ngIf="showTemplate == 1">
                <app-template3 [phase]=0 [datastory]="name" [foilnumber]="tab" [last]="false" (newItemEvent)="nextT($event)"></app-template3>
                </div>
              <div class="wrap2" *ngIf="showTemplate == 2">
                <app-template2 [phase]=0 [datastory]="name" [foilnumber]="tab" [last]="false" (newItemEvent)="nextT($event)"></app-template2>
              </div>
              <div class="wrap2" *ngIf="showTemplate == 3">
                <app-template1 [phase]=0 [datastory]="name" [foilnumber]="tab" [last]="false" (newItemEvent)="nextT($event)"></app-template1>
              </div>
              <div id="f" *ngIf="showTemplate == 4">

                <form-builder [form]="form"></form-builder>
                <button type="submit" (click)="submitFormBuilderForm(tab)" class="btn btn-success">Speichern und Weiter</button>
              </div>
              <ng-container *ngIf="showTemplate != 0">
              <button class="btn btn-info" (click)="showTemplate = 0">
                Zurück zur Design Auswahl
              </button>
              
              
            </ng-container>
            
            <div class="weitereFolie">
            <button class="btn btn-danger löschen" [disabled]="tabs.length === 1"
                (click)="removeTab(index)">Folie löschen
              </button>
              <button class="btn btn-success" (click)="send()" title="submit" type="submit">Data Story Abschicken</button>
            
              <button class="btn btn-secondary" (click)="addTab()">
                <span class="material-symbols-outlined">
                  </span>
              Weitere Folie hinzufügen
              </button>
              
            </div>
            </mat-tab>
          </mat-tab-group>
          <div>
            
          </div>
        </div>
        
  
</div>    
</div>

