
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }
  .wrap{
    overflow: hidden;
    display: flex;
    position: relative;
    width: 38vw;
    height:48vh;
  }
  .img{
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
  .text-center{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity:1;
    width: 38vw;
    height:47vh;
  }
  .wrap1{
    overflow: hidden;
    display: flex;
    position: relative;
    width:35vw;height:20vh;
  }
  .text-center1{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity:1;
    width:35vw;height:"200px";
  }
  #f{
    width: 50vw;
    height: 40vh;
  }
  .text-center2{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity:1;
    width:80vw;height:50vh;
  }
  .wrap2{
    overflow: hidden;
    display: flex;
    position: relative;
    width:80vw;height:50vh;
  }

  #nr{
    margin-left: 1vw;
  }
  button{
    margin: 1vw;
    
  }
  .container { display: flex }
  
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
  
  svg.material-icons {
    height: 24px;
    width: auto;
  }
  
  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }
  
  .card svg.material-icons path {
    fill: #888;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }
  
  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  
  .card-container .card:not(:last-child) {
    margin-right: 0;
  }
  
  .card.card-small {
    height: 16px;
    width: 168px;
  }
  
  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }
  
  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
  
  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }
  
  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }
  
  .card.card.highlight-card span {
    margin-left: 60px;
  }
  
  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }
  
    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }
  
    .card.highlight-card span {
      margin-left: 72px;
    }
  
   
  }
  
  