<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">



    <span id="headline">Editor für neue Data Stories</span>

  </div>

  <!-- Resources -->
  <ng-template><ng-content></ng-content></ng-template>  
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="First"><div id="1">
      <div>
        <form>
          <input placeholder="Name der Data Story" title="name" type="text" [(ngModel)]="name"
            [ngModelOptions]="{standalone: true}">
          <input placeholder="Länge der Data Story" title="number" type="number" [(ngModel)]="length"
            [ngModelOptions]="{standalone: true}">
          <button (click)="click()" title="submit" type="submit">Erstellen</button>
        </form>
      </div>
      <div class="container">
        <h2> Fragerunde: </h2>
        <input id="nr" placeholder="Nr." title="fragerunde" type="number" [(ngModel)]="fragerunde"
          [ngModelOptions]="{standalone: true}">
      </div>
      <div class="container">
          <form>
             <!--<label for="name">Adressat zum Beantworten der Fragen: </label>-->
             <h3>Adressat zum Beantworten der Fragen: </h3>
            <input id="adressat" title="adressat" type="text" [(ngModel)]="adressat" placeholder="Bsp: Domänenexperte"
              [ngModelOptions]="{standalone: true}">
          
              <h3>Stand: </h3>
            <!--<label for="stand">Stand: </label>-->
            <input id="stand"title="stand" type="text" [(ngModel)]="stand" placeholder="die Bedeutung aller 5 Statuskategorien wurde geklärt" [ngModelOptions]="{standalone: true}">
          
          
            <h3>Datensatz:</h3><input title="datensatz" type="text" [(ngModel)]="datensatz" placeholder="Kontinuierlicher Druck- und Leckwert, 5 verschiedene Status, diverse Labels"
              [ngModelOptions]="{standalone: true}">
          
          
            <h3>Zeitraum:</h3> <input title="zeitraum_von" type="date" [(ngModel)]="zeitraum_von" 
              [ngModelOptions]="{standalone: true}">
            <input title="zeitraum_bis" type="date" [(ngModel)]="zeitraum_bis" [ngModelOptions]="{standalone: true}">
        
            <h3>Messungsintervall:</h3> <input title="messungsintervall" type="text" [(ngModel)]="messungsintervall" placeholder="1 Millisekunde"
              [ngModelOptions]="{standalone: true}">
       
          
            <h3>Einträge:</h3> <input title="eintraege" type="number" [(ngModel)]="eintraege" placeholder="1.455.424"
              [ngModelOptions]="{standalone: true}">
          </form>
        <div class="wrap">
          <div class="img">
            <img src="../assets/boxplot.png" alt="boxplot">
          </div>
          <div class="text-center">
            <div id="t1">
              <input class="form-control" type="file" (change)="onChange1($event)">
              <button (click)="onUpload()" class="btn btn-success">
                Upload
              </button>
            </div>
          </div>
        </div>
    
      </div>
      <div class="wrap1">
        <div class="img"><img src="../assets/describe_tabelle.png" alt="describe_tabelle" width="500px" height="200px">
        </div>
        <div class="text-center1">
          <input class="form-control" type="file" (change)="onChange1($event)">
          <button (click)="onUpload()" class="btn btn-success">
            Upload
          </button>
        </div>
        <div>

        </div>
      
        <button class="navigation" (click)="go()" title="submit" type="submit">Weiter</button>
      </div>
    </div></mat-tab>


<mat-tab label="Second">
  <div class="wrap2">
    <div class="img">
      <img src="../assets/spaltenübersicht.png" alt="boxplot">
    </div>
    <div class="text-center2">
      <div id="t1">
        <input class="form-control" type="file" (change)="onChange1($event)">
        <button (click)="onUpload()" class="btn btn-success">
          Upload
        </button>
      </div>
    </div>
  </div>
</mat-tab>


<mat-tab label="Third">Wähle eins der Designs

  <div id="f">
  
  <form-builder [form]="form" (change)="onChange($event)"></form-builder>
</div>

<mat-tab label="Fourth" disabled="True">
  
  <h2>Wähle eins der Designs</h2>

</mat-tab>
<mat-tab label="Fifth"> <h2>Wähle eins der Designs</h2>

</mat-tab>
<mat-tab label="Sixt"> <h2>Wähle eins der Designs</h2>

</mat-tab>
<mat-tab label="Seventh"> <h2>Wähle eins der Designs</h2>
</mat-tab>
<mat-tab label="Eigth"> <h2>Wähle eins der Designs</h2>

</mat-tab>

</mat-tab>
</mat-tab-group> 
  <!-- Footer -->
  <footer>
  </footer>
</div>