<div class="content" role="main">
  
    <!--[ngClass]="firstSituation ? 'card highlight-card card-small bg-primary': 'card highlight-card card-small bg-success'" Highlight Card  -->
    <div [ngStyle]="currentStyles" class= "card highlight-card card-small" >
      
     
      
      <span  style="font-size: 2vw" >{{headline}}</span>
  
    
    </div>
  
    <!-- Resources -->
    <div  class="container">
        <div>
       <h3>Erkannte Situation:</h3> <p> In dem angegebenen Ausschnitt scheint zuerst ein Kaffee ausgegeben und anschließend Wasser nachgezogen worden zu sein. </p> <br>
       <form #situationForm="ngForm" (ngSubmit)="onFormSubmit(situationForm)" novalidate>
         <p> Wurden die Situationen korrekt erkannt? </p> <br>
         <p> 1. Situation </p>
         <mat-radio-group name="erste_situation" aria-label="erste_situation" ngModel required>
          <mat-radio-button value="1">Ja</mat-radio-button>
          <mat-radio-button value="2">Nein</mat-radio-button>
        </mat-radio-group>
        
         
         <br>
         <br>
         <p> 2. Situation </p>
         
         <mat-radio-group name="zweite_situation" aria-label="zweite_situation" ngModel required>
          <mat-radio-button  value="3">Ja</mat-radio-button>
          <mat-radio-button value="4">Nein</mat-radio-button>
        </mat-radio-group>
        <div>
          <div *ngIf="isFormSubmitted && situationForm.invalid" style="margin: 1vw; border-style: solid;border-color: red;">
            <p> Um fortfahren zu können, müssen sie alle Fragen beantworten!</p>
          </div>
          <button (click)='back()'title="submit" type="button" style="font-size: 1vw; margin:1vw">Zurück</button>
            <button title="submit" type="submit" style="font-size: 1vw; margin:1vw">Weiter</button>
          </div>
        </form>
       </div>
       <img src={{imgUrl}} alt="keine weiteren ähnlichen Situationen">
         
     </div>
    
      


  
    <div #parent> </div>

  
    <!-- Footer -->
    <footer>
        <p>ID: 2.2.{{counter}}	Datum: 19.05.2022 </p>
    </footer>
    <router-outlet></router-outlet>