<div class="content" role="main">
  
    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
    </div>


    <div class="container">
        <form action="">
        <input type="number" id="druck" [(ngModel)]="druck" [ngModelOptions]="{standalone: true}">
        <input type="number" id="leck"  [(ngModel)]="leck" [ngModelOptions]="{standalone: true}">
    <button type="submit" (click)="onClick()">Status Vorhersagen</button>
    </form>
    </div>

    <h1>{{status}}</h1>
 
    <footer>
    </footer>
</div>
