<div class="content" role="main">
  
    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
        <span id="headline">Abgeschlossene Data Stories: Dichte</span>
    </div>


    <div class="container">
    <img src="../assets/titelfolie.png" alt="titelfolie">
    <img src="../assets/spaltenübersicht.png" alt="spaltenübersicht">
    <div *ngFor="let item of items" id="dich">
        <img alt="alte ds" src="{{'data:image/png;base64,' + item}}">
    
    </div>
</div>
 
    <footer>
    </footer>
</div>