<div class="content">
    <h3>Dichte-Datensatz</h3>
    <p class="text">Deine schon erstellten Data-Stories zum Dichte-Datensatz kannst du hier sehen:</p>
        <div class="content-white ">
            
                <img src="../assets/titelfolie.png" alt="titelfolie">
                <img src="../assets/spaltenübersicht.png" alt="spaltenübersicht">
                 
                <div *ngFor="let item of items" id="dich">
                    <img alt="alte ds" src="{{'data:image/png;base64,' + item}}">
                
                </div> 
            
        </div>
</div>
