<div class="container">
  <form>
    <div class="headline section">
        <h3>Vielen Dank, dass du bei unserer Nutzerbefragung teilnimmst</h3>
        <p>Du hilfst uns dabei die Web-App weiter zu verbessern. </p>
    </div>
    <!--FRAGE 1-->
    <div class="question1 section">
        <h5>Frage 1: Hast du die Fragen der vorangegangenen Data-Stories inhaltlich verstanden?</h5>
        <div class="answer">
          <div>
              <input class="form-check-input" type="radio" name="question1" id="question1yes" [(ngModel)]="show" [value]="false"checked>
              <label class="form-check-label" for="exampleRadios1">
                Ja
              </label>
            </div>
            <div>
              <input #nein class="form-check-input" type="radio" name="question1" id="question1no" [(ngModel)]="show" [value]="true">
              <label class="form-check-label" for="exampleRadios2">
                Nein
              </label>
            </div>
          
            <textarea *ngIf="show" #text id="text" name="text" cols="35" rows="4"></textarea> 
           
          </div>
    </div>
    <!--FRAGE 1 ENDE-->
    <!--FRAGE 2-->
    <div class="question2 section">
        <h5>Frage 2: Konntest du gut dich ohne Probleme zum Antwort-Bereich der Data Stories navigieren?</h5>
        <div class="answer">
          <div>
              <input class="form-check-input" type="radio" name="question2" id="exampleRadios1" [(ngModel)]="show2" [value]="false" checked>
              <label class="form-check-label" for="exampleRadios1">
                Ja
              </label>
            </div>
            <div>
              <input #nein class="form-check-input" type="radio" name="question2" id="exampleRadios2" [(ngModel)]="show2" [value]="true">
              <label class="form-check-label" for="exampleRadios2">
                Nein
              </label>
            </div>
            <textarea *ngIf="show2" #text id="text" name="text" cols="35" rows="4"></textarea> 
          </div>
    </div>
    <!--FRAGE 2 ENDE-->
    <!--FRAGE 3-->
    <div class="question3 section">
        <h5>Frage 3: Hättest du gerne zusätzliche inhaltliche Themen zu deinem Fachbereich außerhalb der Data Stories mit uns geteilt?</h5>
        <div class="answer">
          <div>
              <input class="form-check-input" type="radio" name="question3" id="question3yes" [(ngModel)]="show3" [value]="false" checked>
              <label class="form-check-label" for="exampleRadios1">
                Ja
              </label>
            </div>
            <div>
              <input #nein class="form-check-input" type="radio" name="question3" id="question3no" [(ngModel)]="show3" [value]="true">
              <label class="form-check-label" for="exampleRadios2">
                Nein
              </label>
            </div>
            <textarea *ngIf="show3" #text id="text" name="text" cols="35" rows="4"></textarea> 
          </div>
    </div>
    <!--FRAGE 3 ENDE-->
    <!--FRAGE 4-->
    <div class="question4 section">
        <h5>Frage 4: Benötigst du mehr Freitextfelder bei der Beantwortung der Data Stories? </h5>
        <div class="answer">
          <div>
              <input class="form-check-input" type="radio" name="question4" id="question4yes" [(ngModel)]="show4" [value]="false" checked>
              <label class="form-check-label" for="exampleRadios1">
                Ja
              </label>
            </div>
            <div>
              <input #nein class="form-check-input" type="radio" name="question4" id="question4no" [(ngModel)]="show4" [value]="true">
              <label class="form-check-label" for="exampleRadios2">
                Nein
              </label>
            </div>
            <textarea *ngIf="show4" #text id="text" name="text" cols="35" rows="4"></textarea> 
          </div>
    </div>
    <!--FRAGE 4 ENDE-->
    <button type="submit" (click)="onSubmit()" class="btn btn-success">Absenden</button>
  </form>
</div>
