<div class="überschrift">
    <h2> Abgeschlossene Data-Story</h2>
    <p>Name der DataStory: {{datastory}}</p>
    <div class="inhalt">
    </div>
    <div class="box">
        <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
            <mat-tab *ngFor="let c of content; let index = index" [label]="(index+1).toString()">
                <ng-container *ngIf="content[index].component == 'template1'">
                    <div>
                        <app-template1 [phase]=2 [datastory]="name" [foilnumber]="index"></app-template1>
                    </div>
                </ng-container>
                <ng-container *ngIf="content[index].component == 'template2'">
                    <div>
                        <app-template2 [phase]=2 [datastory]="name" [foilnumber]="index"></app-template2>
                    </div>
                </ng-container>
                <ng-container *ngIf="content[index].component == 'template3'">
                    <div>
                        <app-template3 [phase]=2 [datastory]="name" [foilnumber]="index"></app-template3>
                    </div>
                </ng-container>
                <ng-container *ngIf="content[index].component == 'template4'">
                    <div>
                        <app-template4 [phase]=2 [datastory]="name" [foilnumber]="index"></app-template4>
                    </div>
                </ng-container>

            </mat-tab>
        </mat-tab-group>
    </div>
</div>