<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p id="pad">Verfügbare Data Stories</p>
    <button class="dstories" (click)='click();drawer.toggle()'>Dichte</button>
    <button class="dstories"(click)='click1(); drawer.toggle()'>Kaffee</button>
  </mat-drawer>

  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <img width="160" id="img1" alt="bytefabrik_logo" src="../assets/bytefabrik_logo.png" />
    <div class="spacer">
    <div class="example-sidenav-content">
      <button type="button" id="mb" mat-button (click)="drawer.toggle()">
        Wähle Data Story
      </button>
    </div>
    </div>
  </div>


  <div class="content" role="main">
   
  
    <router-outlet></router-outlet>

    <footer>

    </footer>

  

  </div>

  <router-outlet></router-outlet>
</mat-drawer-container>
