<div class="container">
    <div class="card" style="width: 20rem;">
        <div class="card-body">
        <h1 class="card-title">{{anzahlAbgeschlossenerDS}}</h1>
        <p class="card-text">Abgeschlossene Data-Story in der Web-App verfügbar</p>
        <a routerLink="ueberblick/abgeschlossen" class="btn btn-primary">Jetzt ansehen</a>
        </div>
    </div>

    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <h1 class="card-title">{{anzahlUnbeantworteterDS}}</h1>
        <p class="card-text">Data-Stories, die noch nicht beantwortet sind</p>
        <a href="ueberblick/unbeantwortet" class="btn btn-primary">Jetzt beantworten</a>
        </div>
    </div>

    <div class="card" style="width: 20rem;">
        <div class="card-body">
        <h3 class="card-title text">Data-Story erstellen</h3>
        <p class="card-text">Vorgefertigte Templates zur Erstellung nutzen</p>
        <a routerLink="datastorycreator" class="btn btn-primary">Jetzt ausprobieren</a>
        </div>
    </div>
</div>